CELERY_BROKER_URL={{ celery_broker_url }}
CELERY_RESULT_BACKEND={{ celery_result_backend }}
DB_URL=mysql+pymysql://{{ mysql_app_user }}:{{ mysql_app_password }}@127.0.0.1:3306/{{ mysql_db_name }}?charset=utf8mb4
PROMETHEUS_BASE_URL={{ prometheus_base_url }}
WEBHOOK_URL={{ webhook_url }}
SLACK_WEBHOOK_URL={{ slack_webhook_url }}
SMTP_HOST={{ smtp_host }}
SMTP_PORT={{ smtp_port }}
SMTP_USER={{ smtp_user }}
SMTP_PASSWORD={{ smtp_password }}
EMAIL_FROM={{ email_from }}
