name: build
on:
  pull_request:
  push:
    branches: [main]
jobs:
  docker-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: deploy/docker/backend.Dockerfile
          push: false
          platforms: linux/amd64,linux/arm64
  docker-worker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: deploy/docker/worker.Dockerfile
          push: false
          platforms: linux/amd64,linux/arm64
